.weather-container {
    background-color: whitesmoke;
    width: 100%;
    color: black;
    font-family: var(--bs-body-font-family);
    display: block;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
    font-family: 'Source Sans 3', sans-serif;

    border-radius: 8px;
}

#description {
    display: inline-flex;
    text-align: center;
    font-size: 16px;
    /* padding: 3px; */
    color: #fbdb24;
}

#city {
    /* text-align: center; */
    font-size: 25px;
    color: #216ae0;
    font-weight: bold;
}

#temperature {
    font-size: 35px;
    /* float: right; */
    color: #216ae0;
    display: inline-flex;
}

#icon {
    text-align: center;
    font-size: 60px;
}
