.weather-container {
    /* background-color: whitesmoke; */
    width: 100%;
    color: black;
    font-family: sans-serif;
    display: -ms-inline-flexbox;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-family: 'Source Sans 3', sans-serif;

}

#description {
    display: inline-flex;
    text-align: center;
    font-size: 16px;
    /* padding: 3px; */
    color: yellow;
}

#city {
    /* text-align: center; */
    font-size: 25px;
    color: navy;
    font-weight:bold;
}

#temperature {
    font-size: 35px;
    /* float: right; */
    color: navy;
    display: inline-flex;
    font-weight:bold;
}

#icon {
    text-align: center;
    font-size: 60px;
    width:100%;
    height:auto;
    size: contain;
}
